<!--Bottom NavBar-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; 2024 Kartikay Sachdeva. All rights reserved.</h6> 
  <div class="social-links">
    <a href="" target="_blank" class="social-link">GitHub</a>
  </div>
</nav>